*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      background-color: black;
      font-family: 'Comfortaa', cursive;
  }
  
  a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.685);
  }
  
  a:hover {
      color: white;
  }
  
  a:active {
      color: white;
  }
  
  .navbar {
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  .navbarleft {
      margin-left: 20px;
  
  }
  
  .navbarright {
      margin-right: 20px;
      display: flex;
  
  }
  
  .logo {
      width: 200px;
      height: 50px;
      font-size: 2em;
      display: flex;
      align-items: center;
      color: white;
  }
  
  .text{
      display : flex;
      margin-right : 80px;
  }
  
  .item1, .item2, .item3, .item4 {
      color: rgba(255, 255, 255, 0.685);
      width: 100px;
      height: 40px;
      margin: 2px;
      flex-shrink:1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .icon {
      color: rgba(255, 255, 255, 0.685);
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  
  .fa-solid {
      color: rgba(255, 255, 255, 0.685);
  }
  
  i{
      color: white;
  }
  
  .mainblock {
      display: flex;
  }
  
  .container2 {
      margin : 200px 0px 0px 100px;
      width : 400px;
      height: auto;
      display : inline-block;
  }
  
  .text1 {
      color: white;
      width:390px;
      height: 90px;
      margin: 4px auto;
      font-size: 5em;
      line-height: 1em;
      
  }
  
  .text2 {
      color: rgba(255, 255, 255, 0.685);
      width:700px;
      height: 40px;
      margin: 4px auto;
  }
  
  .projectcontainer {
      display : flex;
      justify-content: inline-block;
      width: 300px;
      height: 300px;
      margin-top: 100px ;
  
  
  }
  