*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: black;
}

ul {
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    color: rgba(255, 255, 255, 0.685);

    
}

li a {
    display: block;
    color: rgba(255, 255, 255, 0.685);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

i {
    color: rgba(255, 255, 255, 0.685);
    
}


.hometext{
    width: 400px;
    height: auto;
    margin-left: 60px;
    margin-top: 200px;



}

.hello{
    font-size: 70px;
    color: white;



}



.hometextgrey{
    color: rgba(255, 255, 255, 0.527);



}